$color-font: #fb284f;
$color-bg: #f5f5f5;
$color-bg-primary: #ff7b93;
$color-border: #ccc;
$color-border-light: #e5e5e5;

/* 代码 */
code {
  color: $color-font;
  background-color: $color-bg;
  padding: 2px 6px;
  white-space: nowrap;
}

/* 头部 */
header {
  font-size: 32px;
  padding: 0 1em;
  font-family: cursive;
  line-height: 3;

  span {
    font-size: 28px;
  }
}

/* 底部 */
footer {
  padding: 2em 0;
  margin-top: 2em;
  border-top: 1px solid $color-border-light;
  box-shadow: 1px 1px 2px 2px $color-bg;
}

.demo {
  max-width: 1000px;
  padding: 0 1em;
  margin: 0 auto;

  /* 标题 */
  h2 {
    font-size: 24px;
    color: $color-font;
    margin: 1em 0;
  }
  h3 {
    font-size: 18px;
    color: #333;
    margin: 2em 0 1em;
    font-weight: bold;
  }
  /* 网格 */
  .grid-row,
  .grid-col {
    border: 1px solid $color-border;
    text-align: center;
  }
  .grid-row,
  .grid-col {
    div:nth-child(even) {
      background-color: $color-bg;
    }
  }
  .grid-row > div {
    min-height: 36px;
    line-height: 36px;
  }
  .demo-offset div[class^='row'] {
    background-color: $color-bg;
  }
  .demo-grid-vertical {
    height: 100px;

    &>div {
      border: 1px solid $color-border-light;
    }
    &.grid-col > div {
      border: none;
    }
  }
}

