/* 基本设置 */
$base-background: #fff;
$base-line-height: 1.6;
$base-text-color: #333;
$link-color: #0e90d2;
$base-margin-vertical: 1.6rem;

/* 网格设置 */
$grid-num: 12;

/* 按钮 */
$btn-default: #f8f8f8;
$btn-primary: #04BE02;
$btn-sub: #EF4F4F;